:root {
  --main: #dab900;
}

main {
  min-height: 80vh;
}

h1 {
  padding: 0.2rem;
}
h3 {
  padding: 1rem 0;
}

.order-details-button:hover {
  text-decoration: underline;
}

.outOfStockImageCover {
  opacity: 0.5;
}
.btn {
  position: relative;
  transition: 0.3s ease-in;
}

.btn:hover {
  box-shadow: inset -10.5em 0 0 0 var(--main), inset 10.5em 0 0 0 var(--main);
}
