:root {
  --main: #ffae00;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  min-height: 80vh;
}

h1 {
  padding: 0.2rem;
}
h3 {
  padding: 1rem 0;
}

.order-details-button:hover {
  text-decoration: underline;
}

.outOfStockImageCover {
  opacity: 0.5;
}

.four-icons i {
  color: var(--main);
  font-size: 1.8rem;
  margin-right: 10px;
}
.four-icons p {
  margin: 0;
  font-size: 1.4rem;
  font-weight: bold;
}

.product-component-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* ============================================ BUTTON  ============================================ */
.btn {
  position: relative;
  transition: 0.4s ease-in;
}

.btn:hover {
  box-shadow: inset -20.5em 0 0 0 var(--main), inset 20.5em 0 0 0 var(--main);
}

.btn-copy-clipboard {
  border: none;
  background-color: white;
  font-size: 1.4rem;
}

.btn-copy-clipboard:hover {
  color: var(--main);
}

/* ============================================ BUTTON  ============================================ */
/*============================================ CAROUSEL ============================================ */
.carousel {
  width: 500px;
  border-radius: 50px;
  overflow: hidden;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
  bottom: auto;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.4);
}

.carousel-caption h4 {
  color: rgb(255, 255, 255);
  padding: 0 10px;
  font-size: 1rem;
}

.carousel img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.carousel-inner a {
  width: 100%;
}

@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
  .product-component-image {
    height: 300px;
  }
}

@media (max-width: 768px) {
  .product-component-image {
    height: 400px;
  }
}
