:root {
  --main: #ffae00;
}

main {
  min-height: 80vh;
}

h1 {
  padding: 0.2rem;
}
h3 {
  padding: 1rem 0;
}

.order-details-button:hover {
  text-decoration: underline;
}

.outOfStockImageCover {
  opacity: 0.5;
}
.btn {
  position: relative;
  transition: 0.4s ease-in;
}

.btn:hover {
  box-shadow: inset -20.5em 0 0 0 var(--main), inset 20.5em 0 0 0 var(--main);
}

.btn-copy-clipboard {
  border: none;
  background-color: white;
  font-size: 1.4rem;
}

.btn-copy-clipboard:hover {
  color: var(--main);
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}
